---
export interface Props {
  title: string;
  imageUrl: string;
  imageAlt: string;
  description: string;
}

const { title, description, imageAlt, imageUrl } = Astro.props;
---

<div
  class="mx-auto m-2 flex items-center flex-col max-w-sm rounded-xl bg-gray-100"
>
  <div
    class="h-48 rounded-md shadow-lg"
    style={{
      width: "105%",
      backgroundImage: `url(${imageUrl})`,
      backgroundSize: "cover",
      backgroundPosition: "center",
      backgroundRepeat: "no-repeat",
    }}
  >
  </div>

  <!-- text bubble title -->
  <div class="flex items-center py-6 p-8">
    <span class="text-lime-900 font-bold text-4xl opacity-40">~</span>
    <div class="text-2xl text-center px-4 font-headline font-bold opacity-60">
      {title}
    </div>
    <span class="text-lime-900 font-bold text-4xl opacity-40">~</span>
  </div>

  <p class="text-gray-900 text-md opacity-70 p-8">
    {description}
  </p>
</div>
