---
import AboutUs from "../components/AboutUs.astro";
import Contacts from "../components/Contacts.astro";
import Divider from "../components/Divider.astro";
import GLBranch from "../components/GLBranch/GLBranch.astro";
import Hero from "../components/Hero.astro";
import Tracks from "../components/tracks/Tracks.astro";
import Content from "../layouts/Content.astro";
---

<!-- <GLBranch /> -->
<Hero />
<div class="w-full text-right px-8 text-lg opacity-60">PAGE CURENTLY WIP</div>

<Divider />

<Content>
  <AboutUs />
</Content>
<Content>
  <Tracks />
</Content>

<div class="my-12">
  <Divider />
</div>
<Content>
  <Contacts />
</Content>
<div
  class="h-32 w-full opacity-10 -mt-8"
  style="
      background-;
      background-image: url('/grass-contacts.png');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 85%;
    "
>
</div>
<div class="border-lime-900 border-b-8 opacity-70"></div>
