---
---

<div class="w-full py-16">
  <div class="py-6 grid lg:grid-cols-2 grid-cols-1 gap-8">
    <div class="text-xl text-justify text-gray-700">
      <h2
        class="text-6xl font-headline font-semibold pb-8 text-green-900 opacity-80"
      >
        About us
      </h2>
      <p class="py-2">
        We are a small team of people situated in the west of Slovenia. Soča
        river is running inbetween our houses, with the Alps stretching on the
        north and land of sun and wine on the south.
      </p>
      <p class="py-2">
        Crossed paths in nature, joined in love of horses, we would like to
        bring you the experiance of riding over beautiful mountin passes and
        trailing through green forests on horse-back.
      </p>
      <p class="py-2">
        Our goal is not to bring in the 'masses', rather, we like to meet people
        personaly and base the journey, accomodation, food and place on your
        wishes and needs.
      </p>
    </div>
    <div
      class="rounded-lg w-full h-full opacity-10"
      style="
      background: url(/outkojn.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      "
    >
    </div>
  </div>
</div>
