---
---

<div class="w-full">
  <h2 class="text-5xl font-headline font-semibold">Contacts</h2>
  <div class="grid xl:grid-cols-3 md:grid-cols-2 gap-16 grid-cols-1">
    <div>
      <p class="pt-8">
        For aditional information or reservation, we are currently available via
        e-mail or phone call.
      </p>
      <div class="pt-8 text-1xl flex flex-col">
        <div class="inline-flex items-center">
          <img src="/phone-calling.png" alt="" class="h-6" />
          <a href="tel:031366200" class="ml-4 text-lime-900"> 031 366 200</a>
        </div>

        <div class="inline-flex items-center pt-2">
          <img src="/at.png" alt="" class="h-6" />
          <a href="mailto:info@lanvukusc.com" class="ml-4 text-lime-900">
            info@lanvukusc.com</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
