---
import "@fontsource/source-serif-pro";
---

<div
  class="w-full h-24 mt-8 opacity-20 absolute"
  style="background: url('/listi.png'); background-repeat: no-repeat;  background-position: right;"
>
</div>
<div class="w-full flex justify-center items-center my-24">
  <!-- <div
    class="w-56 h-56 opacity-10"
    style="background: url('/listki.png'); background-repeat: no-repeat;  background-position: right; background-size: contain;"
  > -->
</div>
<div class="flex flex-col items-center p-6">
  <div class="flex items-center flex-col">
    <div
      class="bg-lime-900 md:h-32 md:w-32 w-24 h-24 opacity-50 rounded-lg mb-8"
    >
    </div>
    <div
      class="flex pl-8 font-headline font-semibold text-gray-800 md:text-8xl sm:text-6xl text-5xl"
    >
      <h1 class="whitespace-nowrap">SUNSET TRAIL</h1>
      <!-- <h1 class="">TRAIL</h1> -->
    </div>
  </div>

  <div class="pt-8 text-center">
    <p class="text-xl opacity-60">
      Everything you need is horse riding skills, keen for adventure and love
      for nature
    </p>
  </div>
</div>
<div class="w-36 h-36 opacity-10 -scale-x-100"></div>
