---
// export interface Props {
//   title: string;
// }

// const { title } = Astro.props;
---

<div class="w-full flex justify-center md:px-8 px-8 xs:px-4">
  <div class="flex w-full mt-16 max-w-screen-2xl">
    <slot />
  </div>
</div>
