<div
  class="w-full mb-24"
  style={{
    backgroundImage: `url("/bg.png")`,
    backgroundSize: "cover",
    backgroundPosition: "center",
    backgroundAttachment: "fixed",
    backgroundRepeat: "no-repeat",
  }}
>
  <slot />
</div>
