---
// import font source serif pro
import "@fontsource/source-serif-pro";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- render latin characters -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  /* loaded font for header */
  .font-headline {
    font-family: "Source Serif Pro", serif;
  }

  /* override selection color */
  ::selection {
    background-color: #27542e;
    color: #fff;
  }
</style>
